.profile {
    font-family: Inter, Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.profile__form {
    max-width: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 0;
}

.profile__greeting {
    margin: 0 0 123px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}

.profile__data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2px;
}

.profile__text {
    width: 100%;
    margin: 0;
    padding: 0 0 16px;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;
}

.profile__text:first-of-type {
    grid-row: 1;
    grid-column: 1;
}

.profile__text:last-of-type {
    grid-row: 2;
    grid-column: 1;
    padding: 17px 0 0;
    border: none;
}

.profile__form-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #e8e8e8;
}

.profile__form-element:last-of-type {
    border: none;
}

.profile__form-element_type_name {
    grid-row: 1;
    grid-column: 2;
}

.profile__form-element_type_email {
    grid-row: 2;
    grid-column: 2;
    justify-content: flex-end;
    padding: 17px 0 0;
}

.profile__setting {
    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    /* text-align: end; */
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
}

.profile__button {
    margin: 220px 0 16px;
    border: none;
    background-color: transparent;
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.2s linear;
}

.profile__button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__button:disabled {
    opacity: 0.2;
}

.profile__exit_button {
    border: none;
    background-color: transparent;
    color: #ff4062;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    transition: opacity 0.2s linear;
}

.profile__exit_button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__setting_type_error {
    color: #ee3465;
}

.link-opacity {
    transition: opacity 0.4s;
    cursor: pointer;
}

.link-opacity:hover {
    opacity: 0.7;
}

.profile__successMessage {
    margin: 0 auto 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #202020;
    border: none;
}

.profile__saveContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.profile__error-text {
    margin: 10px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ee3465;
}

.profile__error-text_type_disabled {
    user-select: none;
}

@media all and (max-width: 767px) {
    .profile__form {
        padding: 236px 0 0;
    }

    .profile__greeting {
        margin: 0 0 96px;
    }

    .profile__button {
        margin: 210px 0 16px;
    }
}

@media all and (max-width: 320px) {
    .profile__form {
        max-width: 260px;
        padding: 70px 0 0;
    }

    .profile__greeting {
        margin: 0 0 80px;
    }

    .profile__button {
        line-height: 15px;
        font-size: 12px;
    }

    .profile__exit {
        font-size: 12px;
        line-height: 15px;
    }
}